@charset "utf-8";
.Yellow {
	width: 200px;
	height: 100px;
	background-color: #FC0;
	margin:10px;
}
.Green {
	width: 150px;
	background-color: #090;
}
.Blue {
	background-color: #0CF;
}
.content {
      border: 1px solid #000;

}

